   
   body{
   	background: white;
   }
   input{
   	font-size: 15px;
   }
  
   .mui-content{
   	float: left;
   	width: 100%;
    	background: white;
    	font-size: 15px;
    	padding: 0px;
    	padding-bottom: 50px;
    	
    }
    .mui-input-group .mui-input-row{
    	height: auto;
    font-size: 15px;
    }
    .mui-input-row select{
    	font-size: 15px;
    }
    .mui-input-row label{
    	width: 20%;
    }
    .mui-input-row label~input{
    	width: 80%;
    }
     .mui-input-row label~select{
    	width: 80%;
    } .mui-input-row label~textarea{
    	width: 80%;
    }
     .mui-scroll{
   	background-color: white;
   }
    textarea[placeholder],
    input[placeholder]{
    	font-size: 14px;
    }
    	.mybtncenter{
    	padding: 10px;
    	font-size: 15px;
    	margin-top: 5px;
    	background: #3F88B0;
    	color: white;
    	font-weight: bolder;
    }
    .mybtncenterdanger{
    	padding: 10px;
    	font-size: 15px;
    	margin-top: 5px;
    	background: #dd524d;
    	color: white;
    	font-weight: bolder;
    }
     /*header nav style*/
    .header{
    	   height: 40px;
    		display: -webkit-box;
    		-webkit-box-pack: center;
    		-webkit-box-align: center;
    		padding: 0px;
    		margin: 0px;
    }
    .logo{
    	height: 44px;
    	width: 90px;
    	background: url(../images/logonew.png) no-repeat;
    	background-size: 90px;
    	background-position: center;
    	/*margin-top: 8px;*/
    }
    .title{
    	-webkit-box-flex: 1;
    	/*text-align: center;*/
    	padding-left: 9%;
    	font-size: 16px;
    	padding-bottom: 5px;
    	font-weight: bolder;
    }
    .navtop{
    	height: 44px;
    	width: 25px;
    	background: url(../images/linklist.png) no-repeat;
    	background-size: 25px;
    	background-position: center;
    	}
      	  header.mui-bar {
				/*display: none!important;*/
			}
			.mui-bar-nav~.mui-content {
				/*padding: 0!important;*/
			}
			#topPopover {
				/*position: fixed;
				top: 44px;
				right: 10px;*/
			}
			#topPopover .mui-popover-arrow {
				left: auto;
				right: 6px;
			}
			p {
				text-indent: 22px;
			}
			/*span.mui-icon {
				font-size: 14px;
				color: #007aff;
				margin-left: -15px;
				padding-right: 10px;
			}*/
			.mui-popover {
				height: 100px;
			}
			
    		/*margin-top: 5px;*/
    }
    /*footer style*/
   
		  .tablist{
		  display: table-cell;
		  overflow: hidden;
		  width: 1%;
		  height: 50px;
		  text-align: center;
		  vertical-align: middle;
		  white-space: nowrap;
		  text-overflow: ellipsis;
		   }
		   .cold{
		     	color: #929292;
		   }
		   .active{
				color:#3f88b0;
				}
   /*end of footer style*/
  
  
    /*   personcenter style*/
         .setuserselfinfo{
    			color:rgba(0,0,0,0.6);
    			text-align: center;
    		}
    		.userselfinfo{
    			width: 100%;
    			height: auto;
    			text-align: center;
    			background: url(../images/perback.jpg);
    			
    		}
    		.userselfhead{
    			text-align: center;
    			height: 120px;
    			width: 120px;
    			margin-left: auto;
    			margin-right: auto;
    			position: relative;
    			
    		}
    		.userselfhead img{
    			width: 100%;
    			border-radius: 50%;
    			float: left;
    		}
    		.nicknameself{
    			text-align: center;
    			font-weight: bolder;
    			background: url(../images/arrow_right.png) no-repeat;
    			background-size:10px ;
    			background-position:95% 55% ;
    			padding: 5px;
    		}
    		.userselfpoints{
    			text-align: center;
    			padding: 3px;
    			font-size: 14px;
    			font-weight: bolder;
    			/*color: #3f88b0;*/
    		}
    		.userselfnote{
    			text-align: center;
    			padding: 3px;
    			font-size: 14px;
    			font-weight: bolder;
    			padding-left:10px ;
    			padding-right: 10px;
    		}
    		.usertab{
    			height: 35px;
    			width: 100%;
    			
    			
    		}
    		
    		.usertabactive{
    			background: #3f88b0;
    			color: white;
    		}
    		.myhelped{
    			border-left:2px solid #e4e4e4;
    			border-right: 2px solid #e4e4e4;
    		}
   /*  end of  personcenter style*/  
   
   
   /* needpublish style*/
    
     .needlabel{
    	  	background: url(../images/down.png) no-repeat;
    	  	background-size: 11px;
    	  	background-position:90% ;
    	  }
    	  .tips{
    	  	font-size: 13px;
    	  	
    	  }
    	  .tips h4{
    	  	text-align: center;
    	  }
    	  .tips ol li{
    	  	color: #A1A1A1;
    	  }
    	  .paylabel{
    	  	position: absolute;
    	  	right: 0px;
    	  	font-weight: bolder;
    	  	padding: 13px;
    	  	padding-left: 20px;
    	  	padding-right: 20px;
    	  	color:black;
    	  	border-left: 2px solid #e4e4e4;
    	  }
     /* end of needpublish style*/
   
    /*  needlist or index style*/
   
  	 .moreneed{
     	 	float: left;
     	 	text-align: center;
     	 	padding-top: 5px;
     	 	padding-bottom: 5px;
     	 	display: block;
     	 	padding-left: 35%;
     	 }
     	 .moreneedbtn{
     	 	background: #66cccc;
     	 	color: white;
     	 	border: none;
     	 	text-align: center;
     	 	margin: auto;
     	 	display: block;
     	 	font-weight: bolder;
     	 }
     	 .needcontainer{
     	 	position: relative;
     	 }
         .needcontainer div{
    			float: left;
    			overflow: hidden;
    			/*border: 1px solid black;*/
    		}
    		.userhead{
    			width: 17%;
    			text-align: center;
    			padding-top: 5px;
    			margin-left:5px ;
    			/*margin-right: auto;*/
    			/*border: 1px solid black;*/
    		}
    		.userhead img{
    			border-radius: 50%;
    			width: 100%;
    		}
    		
   		.headinfo{
     	 	position: relative;
     	 	width: 100%;
     	 	height: 100%;
     	 	/*border: 1px solid black;*/
     	 	/*z-index: 10000;*/
     	 
     	 }
    		
    		.sexshow{
     	 	height: 15px;
     	 	width: 15px;
     	 	/*border:1px solid black;*/
     	 	position: absolute;
     	 	bottom: 3px;
     	 	left: 60%;
     	 }
     	.sexshowSmall{
     		height: 12px;
     	 	width: 12px;
     	 	/*border:1px solid black;*/
     	 	position: absolute;
     	 	bottom: 3px;
     	 	left: 55%;
     	} 
     	 .male{
     	 	background: url(../images/male.png) no-repeat;
     	 	background-size:15px;
     	 }
     	 .smale{
     	 	background: url(../images/male.png) no-repeat;
     	 	background-size:12px;
     	 }
     	 .female{
     	 	background: url(../images/female.png) no-repeat;
     	 	background-size:15px;
     	 }
     	 .sfemale{
     	 	background: url(../images/female.png) no-repeat;
     	 	background-size:12px;
     	 }
     	 
    		.needid{
           width:100%;
           font-size: 10px;
           color:#A1A1A1 ;
           line-height: 13px;
          
    		}
    		.needlistlabel{
    			padding: 5px;
    			width: 63%;
    			font-size: 16px;
    			font-weight: bolder;
    			color:#3F88B0;
    		}
    		.needlisttime{
    			width: 25%;
    			font-weight: bolder;
    			padding: 4px;
    			font-size: 12px;
    			color: #3f88b0;
    			text-align: right;
    			padding-right: 10px;
    
    		}
    		.needcontent{
    			width: 80%;
    			font-size:14px;
    			padding-right: 5px;
    			padding-top:5px ;
    			padding-bottom: 5px;
    			padding-left: 5px;
    			font-weight: bolder;
    			border-bottom: 1px solid #E4E4E4;
    		}
    		
    		.needpay{
    			padding-top: 3px;
    			width: 100%;
    			background: url(../images/pay.png) no-repeat 80px;
    			background-size: 13px;
    			padding-left: 100px;
    			font-size:12px;
    			color: #a1a1a1;
    			font-weight: bold;
    		}
    		.needlocation{
    			width:75%;
    			background: url(../images/location.png) no-repeat 80px;
    			background-size: 13px;
    			padding-left: 100px;
    			padding-top:5px ;
    			font-size:12px;
    			font-weight: bold;
    			color: #a1a1a1;
    			padding-bottom: 3px;
    		}
    		.needstatus{
    			position: relative;
    			width: 18%;
    			height: 30px;
    			line-height: 30px;
    			color:white;
    			background: #66cccc;
    			font-weight: bolder;
    			text-align: center;
    			font-size:13px;
    			border-top-left-radius:5px ;
    			border-bottom-left-radius: 5px;
    		}
    		.needcall a{
    			text-decoration: none;
    			color: black;
    		}
    			.needaction{
   			width:33.3%;
    			text-align: center;
    			font-size: 13px;
    			font-weight: bolder;
    			color: black;
    			border-top: 1px solid #E4E4E4;
    			border-bottom: 5px solid #E4E4E4;
    			padding-top: 5px;
    			padding-bottom: 5px;
    			border-left:2px solid #E4E4E4 ;
   		}
   		.needaction .mui-icon{
   			font-size: 20px;
   			font-weight: bolder;
   		}
   		.needaction a{
   			text-decoration: none;
   			color: black;
   		}
    	/*  end of needlist or index style*/	
    	
    	/* needhelp style*/
    	.singleneed{
    		float: left;
    		background: white;
    	
    	}
    	.messagecontainer{
    		float: left;
    		width: 100%;
    	}
    .msgtitle{
    	float: left;
    	display: block;
    	width: 100%;
    	border-bottom: 1px solid #e4e4e4;
    	padding-left:50px ;
    	padding-top: 10px;
    	padding-bottom: 10px;
    	font-size: 15px;
    	font-weight: bolder;
    	color: black;
    	background:  white url(../images/comment.png) no-repeat;
    	background-size: 25px;
    	background-position: 13px;
    }
    .sendfooter{
    position: fixed;
    bottom: 0;
	height: 50px;
	width: 100%;
	z-index: 10000;
	}
	.sendfooter div{
		float: left;
	}
	 .replyto{
    	font-weight: bold;
    	position: fixed;
    	z-index: 100000;
    	color: white;
    	padding-left:5px;
    	padding-right: 5px;
    	margin-bottom: 20px;
    	background: #66cccc;
    	border-radius: 5px;
    	font-size: 13px;
    }
	.valuecontent{
		width: 85%;
		margin: 0px;
		padding: 0px;
	}
	.valuecontent textarea[name=helpvalue]{
		height: 50px;
		margin: 0px;
		padding: 0px;
		padding-top: 20px;
		padding-left: 5px;
		font-size: 14px;
	}
	.btncontent{
		width: 15%;
	}
	.valuebtn{
		width: 100%;
		height: 50px;
		text-align: center;
		padding: 10px;
		background: #66cccc;
		color: white;
		font-size: 16px;
		font-weight: bolder;
		}
		
   .singlemsg{
		background: white;
		border-bottom: 3px solid #e4e4e4;			
	}
	.hchead{
		padding-top: 5px;
		padding-left: 10px;
		width: 20%;
		float: left;
		
	}
	.hchead img{
		border-radius: 50%;
		width: 45px;
		height: 45px;
	}
	.msginfo{
		width: 100%;
		height: 30px;	
	}	
	.msginfo div{
		display: inline;
		float: left;
	}
	.msgfrom,.msgto{
		width: 28%;
		font-size: 12px;
		color: #A1A1A1;
		font-weight: bold;
		/*padding-left: 30px;*/
		overflow: hidden;
     	text-overflow: ellipsis;
     	white-space:nowrap;
     	border-bottom: 1px solid #E4E4E4;
     	padding-bottom: 3px;
     	padding-top: 3px;	
	}
	.msgfrom a{
		text-decoration: none;
		color: #3f88b0;
	}
	.msgto a{
		text-decoration: none;
		color: #3f88b0;
	}
	
	.msgtime{
		width: 20%;
		font-size: 12px;
		color: #A1A1A1;
		font-weight: bolder;
		padding-left: 14px;
		border-bottom: 1px solid #E4E4E4;
		padding-bottom:3px;
		padding-top: 3px;	
	}
	.msgcontent{
		width:85%;
		font-size:13px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 80px;
		font-weight: bold;	
	}
	.msgreply{
	
		position: absolute;
		right: 10%;
		text-align: center;
		color:#3f88b0;
		
	}
	
	.commentblack,.msgblack{
        text-align: center;
        font-size: 13px;
        margin-top: 60px;
        height: 120px;
        /*line-height: 100px;*/
        color: #a1a1a1;
        background: url(../images/black.jpg) no-repeat;
        background-size: 70px;
        background-position: center;
        display: block;
        margin-right: auto;
        margin-left: auto;

      }	
	/*end of needhelp style*/
	
	/*personcenter style*/
	.thankorder{
    			
    			border-bottom: 2px solid #E4E4E4;
    			float: left;
    			padding: 10px;
    		}
    		.thankorder div{
    			/*border: 1px solid black;*/
    			float: left;
    		}
    		.bywhohead img{
    			width:90%; 
    			border-radius:50% ;
    		}
    		.thankordertop{
    			font-size: 13px;
    			color: #A1A1A1;
    			border-bottom: 1px solid #E4E4E4;
    			font-weight: bold;
    		}
    		.thankpay{
   			width: 75%;
   			padding-left: 10px;
    		}
    		.judgecontent{
    			padding: 8px;
    			font-weight: bolder;
    		}
    		.thanktime{
    			width: 25%;
    		}
     	 .tabactive{
     	 	color: #3f88b0;
     	 }
   		.perneedhelp{
   			width: 50%;
   			background: url(../images/comment.png) no-repeat;
    			background-size: 15px;
    			background-position: 40px;
    			text-align: center;
    			font-size: 13px;
    			font-weight: bolder;
    			color: black;
    			border-top:1px solid #E4E4E4;
    			border-bottom: 5px solid #E4E4E4;
    			padding-top: 5px;
    			padding-bottom: 5px;
   		}
   		.perneedcomment{
   			width:50%;
    			background: url(../images/message2.png) no-repeat;
    			background-size: 15px;
    			background-position: 40px;
    			text-align: center;
    			font-size: 13px;
    			font-weight: bolder;
    			color: black;
    			border-top:1px solid #E4E4E4;
    			border-bottom: 5px solid #E4E4E4;
    			border-right: 1px solid #E4E4E4;
    			border-left: 1px solid #E4E4E4;
    			padding-top: 5px;
    			padding-bottom: 5px;
   		}
     	.perneedaction{
     		position: relative;
    			width: 18%;
    			height: 30px;
    			line-height: 30px;
    			color:white;
    			background: #66cccc;
    			font-weight: bolder;
    			text-align: center;
    			font-size:13px;
    			border-top-left-radius:5px ;
    			border-bottom-left-radius: 5px;
     	}
     	.helped{
     		border-bottom: 3px solid #E4E4E4;

     	} 
     	/*end of personcenter style*/ 		